html {
  background-color: #e2e2e2;
}

body {
  margin: 2em auto;
  max-width: 35em;

  background-color: #fff;
  border: 1px solid #ccc;
}

section {
  padding: 4em 1em;
  position: relative;

  border-bottom: 1px solid #ccc;
  overflow: hidden;
}

section:nth-child(5) {
  border: 0;
}

div {
  position: absolute;
  right: 1em;
  top: 0;
}

.box {
  height: 100px;
  top: calc(50% - 50px);
  width: 200px;

  background-color: limegreen;

  opacity: 0;
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
}

.js-show-hide {
  opacity: 1;
}


.diamond {
  height: 80px;
  right: -8em;
  top: calc(50% - 40px);
  width: 80px;

  background-color: hotpink;
  -webkit-transform: rotate(45deg);
  -webkit-transition: right 200ms;
  transform: rotate(45deg);
  transition: right 200ms;
}

.js-move {
  right: 2em;

}

.panel {
  width: 250px;
  top: 50%;

  background-color: yellow;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);

  color: darkgoldenrod;
  text-align: center;
  overflow: hidden;
  -webkit-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}

.panel h2 {
  margin: 0;
  padding: 3rem 0;
}

.circle {
  height: 100px;
  top: calc(50% - 50px);
  width: 100px;

  background-color: orange;
  border-radius: 50%;
}

.js-bounce {
  -webkit-animation: bounce 0.75s ease-in-out;
  animation: bounce 0.75s ease-in-out;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate(0px);
  }
  25% {
    -webkit-transform: translate(-50px, -25px);
  }
  50% {
    -webkit-transform: translate(-100px, 20px);
  }
  75% {
    -webkit-transform: translate(-150px, -15px);
  }
  100% {
    -webkit-transform: translate(-200px, 10px);
  }
}

@keyframes bounce {
  0% {
    transform: translate(0px);
  }
  25% {
    transform: translate(-50px, -25px);
  }
  50% {
    transform: translate(-100px, 20px);
  }
  75% {
    transform: translate(-150px, -15px);
  }
  100% {
    transform: translate(-200px, 10px);
  }
}

.list {
  bottom: 1em;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1em;
  top: 1em;
  width: 250px;

  border: 1px solid #ccc;
  overflow: hidden;
  overflow-y: auto;
}

.list li {
  -webkit-animation: prepend 200ms ease-in-out;
  animation: prepend 200ms ease-in-out;
  padding: 0.5em;
  overflow: hidden;

  background-color: plum;
  border: 1px solid mediumpurple;

  color: mediumpurple;
}

@-webkit-keyframes prepend {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 2em;
  }
}

@keyframes prepend {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 2em;
  }
}